<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
  <ion-header-bar class ="bar-positive" align-title="left" >
  <img class="title header-image" src="img/CitiOffers.png"></img>
  <a class="title header-text calm">CitiBank Offers</a>
    </ion-header-bar>
   <!-- <ion-header-bar class="bar-calm title='<img class="title-image" src="/img/CitiOffers.png" />'">
    </ion-header-bar>-->
    <ion-content class="background-all">
      <ion-list inset>
      
        <div class="item background-all" ng-controller ='SettingsCtrl' ng-click="openSettings()">

         <a class="item item-icon-left item-balanced rounded-corner " href="#">
           <i class="icon ion-android-settings "></i>
           Settings
             </a>
       </div>
        <div class="item background-all" menu-close href="#/app/playlists">
         <a class="item item-icon-left item-balanced rounded-corner" href="#/app/playlists">
           <i class="icon ion-pricetags "></i>
           Promotions
             </a>
        </div>
        <div class="item background-all" menu-close href="#/app/savedoffers">
         <a class="item item-icon-left item-balanced rounded-corner" href="#/app/savedoffers">
           <i class="icon ion-android-download "></i>
           Saved Offers
             </a>
        </div>
           <div class="item background-all"  ng-controller ='PushOfferCtrl' ng-click="openOffer()">
         <a class="item item-icon-left item-balanced rounded-corner" href="#">
           <i class="icon ion-star "></i>
          Best Offer
             </a>
        </div>
         <div class="item background-all" menu-close ng-controller ='LoginCtrl' ng-click="doLogOut()">
           <a class="item item-icon-left item-balanced rounded-corner" href="#">
           <i class="icon ion-locked  "></i>
           LogOut
             </a>
        </div>

       <!-- <div class="item " menu-close ng-controller ='PushOfferNotifyCtrl' href="#/app/pushoffer">
         <a class="item item-icon-left item-positive rounded-corner" href="#/app/pushoffer">
           <i class="icon ion-star "></i>
           Best Offer
             </a>
        </div>-->
        <!--
        <ion-item  menu-close href="#/app/playlists">
        <i class="icon icon-left ion-android-settings larger calm"></i>   
      <ion-thumbnail item-left>
        <img src="img/promotions.jpg">
         <h2>Promotions</h2>
        </ion-thumbnail>
        </ion-item>-->
        
   
      
        <!--
        <div class="item item-thumbnail-left" ng-controller ='PushOfferCtrl' ng-click="openOffer()">
          <img src="img/bestoffer.jpg">   
         <h2>PushedOffers</h2>  
        </div>-->
        <!--
		 <ion-item  item-thumbnail menu-close ng-controller ='PushOfferCtrl' href="#/app/pushoffer">
     <ion-thumbnail item-left>
        <img src="img/bestoffer.jpg">
        <h2>PushedOffers</h2>
        </ion-thumbnail>
        </ion-item>
        -->
      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
