<ion-modal-view>
   <ion-header-bar class ="bar-positive">
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSettings()">Close</button>
    </div>
  </ion-header-bar>
      <ion-content scroll="true">
      <div class ="item">
       <ion-toggle toggle-class="toggle-positive" ng-model="enablePush.checked" ng-true-value="'YES'" ng-false-value="'NO'">Send Push Notifications</ion-toggle>
       </div>
       <div class ="item item-positive"
        <h3 class ="align-center">Categories</h3>
        </div>
        <ion-list>
       <ion-checkbox  ng-repeat="offercat in offerCategories" ng-model="offercat.catEnabled" ng-true-value="'YES'" ng-false-value="'NO'">
       
       
       {{offercat.catText}}  
               
       </ion-checkbox>
       </ion-list>
       
     <!--  <ion-checkbox>Dining</ion-checkbox>
       <ion-checkbox>Clothing & Fashion</ion-checkbox>
       <ion-checkbox>Health & Beauty</ion-checkbox>
       <ion-checkbox>Home & Electronics</ion-checkbox>-->
       
      </ion-content>
 
</ion-modal-view>

